<!--{% extends 'base.html' %}-->
<!--{% load static %}-->
<!--{% load loan_amount_cal_tag %}-->
<!--{% block content %}-->
<!--<style>-->
<!--    .modal-backdrop.show{-->
<!--    opacity:0 !important;-->
<!--    }-->
<!--    .modal.show .modal-dialog {-->
<!--    transform: none;-->
<!--    margin-top: 80px;-->

<!--}-->
<!--.modal-backdrop {-->
<!--    position: absolute;-->
<!--    top: 0;-->
<!--    left: 0;-->
<!--    z-index: -1;-->
<!--    width: 100vw;-->
<!--    height: 100vh;-->
<!--    background-color: #000;-->
<!--}-->

<!--</style>-->

<!--<div class="app-main__outer">-->

<!--    &lt;!&ndash; Modal &ndash;&gt;-->
<!--    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--         aria-hidden="true">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="exampleModalLabel">Calculate Risk</h5>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"-->
<!--                            onclick="$('.modal').removeClass('show').addClass('fade');">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->

<!--                    <form method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}-->


<!--                        <div class="form-row">-->
<!--                            <div class="form-group col-md-6">-->
<!--                                <label for="product_Name">Product Name</label>-->
<!--                                <select id="product_Name" name="product_Name" class="form-control">-->
<!--                                    <option value="" disabled selected>Select</option>-->
<!--                                    {% for data in items %}-->
<!--                                    <option value="{{data.name}}">{{data.name}}</option>-->
<!--                                    {% endfor %}-->
<!--                                </select>-->
<!--                            </div>-->
<!--                            <div class="form-group col-md-4">-->
<!--                                <label for="TodayRate">Today Rate</label>-->
<!--                                <input type="text" name="TodayRate" class="form-control" required id="TodayRate"-->
<!--                                       onchange="myFunction()" placeholder="Enter Today Rates">-->
<!--                            </div>-->


<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                            <button type="submit" class="btn btn-primary">Submit</button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->


<!--    <div class="app-main__inner">-->
<!--        <div class="app-page-title">-->
<!--            <div class="page-title-wrapper" style="display: flex;">-->
<!--                <div class="col-lg-10 page-title-heading">-->
<!--                    <div class="container-fluid">-->
<!--                 <div class="row">-->
<!--                <div class="col-lg-4 col-xl-4">-->
<!--                    <a class="card mb-3 widget-content bg-arielle-smile" style="text-decoration: none;">-->
<!--                        <div class="widget-content-wrapper text-white">-->
<!--                            <div class="widget-content-left">-->
<!--                                <div class="widget-subheading">Total Loan:</div>-->
<!--    &lt;!&ndash;                            <div class="widget-subheading">Warranty Registerted</div>&ndash;&gt;-->
<!--                            </div>-->
<!--                            <div class="widget-content-right">-->
<!--                                <div class="widget-numbers text-white"><span> {{loan_total.0}}</span></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--            <div class="col-lg-4 col-xl-4">-->
<!--                <a class="card mb-3 widget-content bg-midnight-bloom" style="text-decoration: none;">-->
<!--                    <div class="widget-content-wrapper text-white">-->
<!--                        <div class="widget-content-left">-->
<!--                            <div class="widget-subheading">In Risk: </div>-->
<!--&lt;!&ndash;                            <div class="widget-subheading">Total Feeedback</div>&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="widget-content-right">-->
<!--                            <div class="widget-numbers text-white"><span>{{loan_total.1}}</span></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->

<!--            <div class="col-lg-4 col-xl-4">-->
<!--                <a class="card mb-3 widget-content bg-grow-early" style="text-decoration: none;">-->
<!--                    <div class="widget-content-wrapper text-white">-->
<!--                        <div class="widget-content-left">-->
<!--                            &lt;!&ndash; <div class="widget-heading">Customers</div> &ndash;&gt;-->
<!--                            <div class="widget-subheading">In Safe: </div>-->
<!--&lt;!&ndash;                            <div class="widget-subheading">Total Support</div>&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="widget-content-right">-->
<!--                            <div class="widget-numbers text-white"><span>{{loan_total.2}}</span></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->
<!--                 </div>-->
<!--                    </div>-->
<!--&lt;!&ndash;                    <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="col-lg-12">&ndash;&gt;-->
<!--&lt;!&ndash;                            <div>Total Loan: {{loan_total.0}}&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="page-title-subheading">In Risk: {{loan_total.1}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="page-title-subheading">In Safe: {{loan_total.2}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->

<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->

<!--                </div>-->
<!--                <div class="col-lg-2 page-title-heading">-->
<!--                    <div class="row">-->
<!--                        <div style="position: absolute;bottom: 0;left:15px">-->
<!--                            <a href="{% url 'add_loan' %}" class="btn btn-primary">Add New Loan</a>-->
<!--                            &lt;!&ndash; Model Code here &ndash;&gt;-->
<!--                            &lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--                            <button type="button" class="btn btn-primary" data-toggle="modal"-->
<!--                                    data-target="#exampleModal">-->
<!--                                Calculate Risk-->
<!--                            </button>-->


<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->


<!--        &lt;!&ndash; Filter form &ndash;&gt;-->


<!--         <div class="row">-->
<!--                        <div class="col-lg-12">-->
<!--                                <form method="GET" enctype="multipart/form-data"> {% csrf_token %}-->
<!--                                    <div class="main-card mb-3 card col-md-12">-->
<!--                                    <div class="card-body">-->
<!--                                        <h4 style="text-align:center;font-weight:600">Filter Table</h4>-->
<!--                                     <div class="form-row">-->

<!--                                         <div class="form-group col-md-5">-->
<!--                                            <label for="SNo">SNo.</label>-->
<!--                                               <select id="SNo" name="sno"  class="form-control">-->
<!--                                                   <option value="" disabled selected>Select</option>-->
<!--                                                   {% for data in Sno %}-->
<!--                                                  <option value="{{data}}" >{{data}}</option>-->
<!--                                                   {% endfor %}-->
<!--                                                </select>-->
<!--                                        </div>-->
<!--                                        <div class="form-group col-md-6">-->
<!--                                            <label for="name">Name.</label>-->
<!--                                               <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name">-->
<!--                                        </div>-->
<!--                                         <div class="form-group col-md-1" style="margin-top:30px;">-->
<!--                                            <button type="submit" id="cal-risk" class="btn btn-secondary">Search</button>-->
<!--                                        </div>-->
<!--                                     </div>-->
<!--                                    </div>-->
<!--                                    </div>-->
<!--                                    </form>-->


<!--        &lt;!&ndash; Close Filter Form &ndash;&gt;-->

<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--                <div class="main-card mb-3 card">-->
<!--                    <div class="card-body">-->
<!--                        <div class="table-responsive">-->
<!--                            <table class="mb-0 table table-hover table-striped">-->
<!--                                <thead>-->
<!--                                <tr style="text-align:center;">-->
<!--                                    <th>Sr.No</th>-->
<!--                                    <th>Name</th>-->
<!--                                    <th>Product</th>-->
<!--                                    <th>Weight</th>-->
<!--                                    <th>Rate Of Interest</th>-->
<!--                                    <th>Interest Per Day</th>-->
<!--                                    <th>Amount</th>-->
<!--                                    <th>Loan</th>-->
<!--                                    <th>Approved Date</th>-->
<!--                                    <th>View</th>-->
<!--                                    <th>Delete</th>-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->
<!--                                {% for mdl in loanF %}-->
<!--                                {% if mdl.IsonRisk == 'True' %}-->
<!--                                <tr style="text-align:center; border:solid; border-color: red; ">-->
<!--                                    {% else %}-->
<!--                                <tr style="text-align:center;">-->

<!--                                    {% endif %}-->
<!--                                    {% if mdl.LoanID.sr_no != null and mdl.Active %}-->
<!--                                    <td>{{mdl.LoanID.sr_no}}</td>-->
<!--                                    <td>{{mdl.LoanID.name}}</td>-->
<!--                                    <td>{{mdl.LoanID.product_id}}</td>-->
<!--                                    <td>{{mdl.LoanID.weight}}</td>-->
<!--                                    <td>{{mdl.LoanID.rate_of_interest}}</td>-->
<!--                                    <td>{{ mdl.LoanID.rate_of_interest|intr}}</td>-->
<!--                                    <td>{{mdl.LoanID.amount}}</td>-->
<!--                                    <td>{{ mdl.LoanID.amount|amount_cal }}</td>-->
<!--                                    <td>{{mdl.LoanID.added_date | date:"d M, Y"}}</td>-->
<!--                                    <td><a href="{% url 'view' mdl.id %}">-->
<!--                                        <button type="button" class="btn btn-primary">View</button>-->
<!--                                    </a></td>-->
<!--                                    <td><a href="{% url 'del' mdl.id}}">-->
<!--                                        <button type="button" class="btn btn-danger">Delete</button>-->
<!--                                    </a></td>-->

<!--                                    {% endif %}-->


<!--                                </tr>-->
<!--                                {% endfor %}-->

<!--                                </tbody>-->
<!--                            </table>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


<!--</div>-->
<!--{% endblock %}-->