{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper" style="display: flex;">
                <div class="col-lg-12 page-title-heading">
                    <h1>Loan Report</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form method="GET" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="main-card mb-3 card col-md-12">
                        <div class="card-body">
                            <h4 style="text-align:center;font-weight:600">Filter Loan Report</h4>
                            <div class="row mt-5">
                                <div class="form-group col-lg-5 col-xl-5">
                                    <label for="froms">From</label>
                                    <input name="froms" id="froms" type="date" class="datepicker form-control">
                                </div>
                                <div class="form-group col-lg-5 col-xl-5">
                                    <label for="to">To</label>
                                    <input name="to" id="to" type="date" class="datepicker form-control">
                                </div>
                                <div class="form-group col-lg-2 col-xl-2" style="margin-top:2.2rem">
                                    <button type="submit" class="btn btn-secondary">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 col-xl-3 text-center">
                                <a href="#" class="mr-2 btn-transition btn btn-outline-light">Amount Send:
                                    {{amount_send}}</a>
                            </div>
                            <div class="col-lg-2 col-xl-2 text-center">
                                <a href="#" class="mr-2 btn-transition btn btn-outline-light">Amount Receive:
                                    {{amount_receive}}</a>
                            </div>
                            <div class="col-lg-2 col-xl-2 text-center">
                                <a href="#" class="mr-2 btn-transition btn btn-outline-light">Interest Amount:
                                    {{interest}}</a>
                            </div>
                            <div class="col-lg-2 col-xl-2 text-center">
                                <a href="#" class="mr-2 btn-transition btn btn-outline-light">Profit Amount:
                                    {{profit}}</a>
                            </div>
                            <div class="col-lg-3 col-xl-3 text-center">
                                <a href="#" class="mr-2 btn-transition btn btn-outline-light">Invested Amount:
                                    {{loss}}</a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!--        <div class="row">-->
        <!--            <div class="col-lg-12">-->
        <!--                <div class="main-card mb-3 card" style="padding: 10px;">-->
        <!--                    <h3>Total Amount Send: <span style="float:right">{{amount_send}}</span></h3>-->
        <!--                    <h3>Total Amount Receive: <span style="float:right">{{amount_receive}}</span></h3>-->
        <!--                    <h3>Total Profit Amount: <span style="float:right">{{profit}}</span></h3>-->
        <!--                    <h3>Total Loss Amount: <span style="float:right">{{loss}}</span></h3>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->

    </div>
</div>
</div>
</div>
</div>
{% endblock %}
